{% extends "base.html" %}

{% block content %}
	<center>
		<h1>Past Contests</h1>
		<p>{{ contest_count }}</p>
		<p><a href="/contest/">See running contests</a></p>
	</center>
	{% for year in contest_list %}
	<div class="archive-year">
		<hr>
		<h2>{{ year[0] }}</h2>
		<hr>
		{% for month in year[1] %}
		<div class="archive-month-wrapper">
			<div class="archive-month">
				<h3>{{ month[0] }}</h3>
				{% for contest in month[1] %}
				<div class="archive">
					<p>{{ contest[0] }}<a href="{{ contest[1] }}">{{ contest[2] }}</a></p>
				</div>
				{% endfor %}
			</div>
		</div>
		{% endfor %}
		<br>
	</div>
	{% endfor %}
	<hr>
	{{ pagination|safe }}
{% endblock %}