<!DOCTYPE html>
<html lang="en"
      {% if config["THEME"] != "auto" %}data-theme="{{ config["THEME"] }}"{% endif %}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% if title %}{{ title }} -{% endif %}
    Structables</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="icon"
          type="image/png"
          href="{{ url_for('static', filename='img/logo.png') }}" />
  </head>
  <body>
    {% include "header.html" %}
    <main class="container">
      {% block content %}{% endblock %}
    </main>
    {% include "footer.html" %}
    {% if config["THEME"] == "auto" %}
      <script>
      // Create theme switcher elements
      const themeSwitchWrapper = document.querySelector('.theme-switch-wrapper');
      const sunIcon = document.createElement('span');
      sunIcon.className = 'theme-icon sun-icon';
      const moonIcon = document.createElement('span');
      moonIcon.className = 'theme-icon moon-icon';
      const themeSwitchLabel = document.createElement('label');
      themeSwitchLabel.className = 'theme-switch';
      const themeSwitchInput = document.createElement('input');
      themeSwitchInput.type = 'checkbox';
      themeSwitchInput.id = 'checkbox';
      const sliderDiv = document.createElement('div');
      sliderDiv.className = 'slider';

      // Append elements to the theme switch wrapper
      themeSwitchLabel.appendChild(themeSwitchInput);
      themeSwitchLabel.appendChild(sliderDiv);
      themeSwitchWrapper.appendChild(sunIcon);
      themeSwitchWrapper.appendChild(themeSwitchLabel);
      themeSwitchWrapper.appendChild(moonIcon);

      // Theme toggle functionality
      const currentTheme = localStorage.getItem('theme');
      
      // Set theme based on saved preference or system preference
      if (currentTheme) {
        document.documentElement.setAttribute('data-theme', currentTheme);
        if (currentTheme === 'dark') {
          themeSwitchInput.checked = true;
        }
      } else {
        // Check if user prefers dark mode
        if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
          document.documentElement.setAttribute('data-theme', 'dark');
          themeSwitchInput.checked = true;
          localStorage.setItem('theme', 'dark');
        }
      }
      
      // Switch theme when toggle is clicked
      function switchTheme(e) {
        if (e.target.checked) {
          document.documentElement.setAttribute('data-theme', 'dark');
          localStorage.setItem('theme', 'dark');
        } else {
          document.documentElement.setAttribute('data-theme', 'light');
          localStorage.setItem('theme', 'light');
        }    
      }
      
      themeSwitchInput.addEventListener('change', switchTheme, false);
      </script>
    {% endif %}
  </body>
</html>
