<footer class="bg-light text-dark py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center text-md-left">
        <p class="mb-1">
          <a
            href="https://git.private.coffee/PrivateCoffee/structables"
            class="text-dark"
          >
            Structables Code (AGPLv3)
          </a>
        </p>
      </div>
      <div class="col-md-6 text-center text-md-right">
        <p class="mb-1">
          <a href="/privacypolicy" class="text-dark">View privacy policy</a>
        </p>
      </div>
    </div>
  </div>
</footer>
