{% extends "base.html" %}
{% block content %}
  <div class="text-center">
    <h1>{{ title }}</h1>
    <div class="sort-links my-3">
      <a href="{{ path }}/"
         class="btn btn-outline-primary {% if 'recent' not in path and 'popular' not in path and 'views' not in path and 'winners' not in path %}active{% endif %}">Featured</a>
      <a href="{{ path }}/recent/"
         class="btn btn-outline-primary {% if 'recent' in path %}active{% endif %}">Recent</a>
      <a href="{{ path }}/popular/"
         class="btn btn-outline-primary {% if 'popular' in path %}active{% endif %}">Popular</a>
      <a href="{{ path }}/views/"
         class="btn btn-outline-primary {% if 'views' in path %}active{% endif %}">Views</a>
      <a href="{{ path }}/winners/"
         class="btn btn-outline-primary {% if 'winners' in path %}active{% endif %}">Winners</a>
    </div>
    <div class="card-grid">
      {% for ible in ibles %}
        <div class="card">
          <a href="{{ ible.link }}">
            <img class="card-img-top" src="{{ ible.img }}" alt="{{ ible.title }}">
          </a>
          <div class="card-body">
            <h5 class="card-title">
              <a href="{{ ible.link }}">{{ ible.title }}</a>
            </h5>
            <p class="card-text">
              by <a href="{{ ible.author_link }}">{{ ible.author }}</a>
            </p>
            <p class="card-text">
              in <a href="{{ ible.channel_link }}">{{ ible.channel }}</a>
            </p>
          </div>
          <div class="card-footer">
            <p class="card-text">{{ ible.favorites }} Favorites, {{ ible.views }} Views</p>
          </div>
        </div>
      {% endfor %}
    </div>
    <ul class="pagination">
      {% for page in pagination %}
        <li class="page-item">
          <a class="page-link {% if page.active %}active{% endif %} {% if page.disabled %}disabled{% endif %}"
             href="{{ page.link }}">{{ page.text }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
