{% extends "base.html" %}

{% block content %}
	<center>
		<h1>{{ title }}</h1>

		{% for section in sections %}
		<div class="container">
			<div class="row">
				<h3></strong><a href="{{ section[1] }}">{{ section[0] }}</a></h3>
			</div>
			<div class="row justify-content-center">
				{% for ible in section[2] %}
				<div class="ibles col-xs-12 col-sm-6 col-lg-4">
					<a href="{{ ible.link }}">
						<img style="max-width:19vw;" src="{{ ible.img }}" alt="{{ ible.alt }}">
						<p>
							<strong style="max-width:19vw;">{{ ible.title }}</strong>
						</p>
					</a>
					<div class="ible-small">
						<p>by <a href="{{ ible.author_link }}">{{ ible.author }}</a></p>
						<p>in <a href="{{ ible.channel_link }}">{{ ible.channel }}</a></p>
						<p>{{ ible.favorites }} Favorites, {{ ible.views }} Views</p>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<hr>
		{% endfor %}
	</center>
{% endblock %}